<body>
    <header>
      <nav>
        <ul>
          <li><a class="<%= path === '/' ? 'linkActive' : 'link' %>" href="/">Shop</a></li>
          <li><a class="<%= path === '/admin/add-product' ? 'linkActive' : 'link' %>" href="/admin/add-product">Add product</a></li>
        </ul>
      </nav>
    </header>
