h1 {
  color: brown;
}

p {
  color: chartreuse;
}
ul{
    padding:0;
}

li{
    list-style: none;
}

  
.link{
  text-decoration: none;
  color:black;
}

.linkActive{
    text-decoration: none;
    color:white;
    background-color: blue;
  }
